
body {
  font-family: "Russo One", sans-serif;
  font-family: "Montez", cursive;
  font-weight: bolder;
  text-align: center;
}
.container-fluid {
  padding: 3% 15% 10%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammersmith One", sans-serif;
}
p {
  color: grey;
}
/* Heading */
.big-heading {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
 /* SEctions */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}


/* Navigation Bar */

.navbar {
  padding-bottom: 2.5rem;
  padding-top: 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 900;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* 
Title Image */

#title {
 
  text-align: left;
}
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* feature section */

#features {
  padding: 7% 15%;
  
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
.feature-title {
  font-weight: bolder;
}
/* testimonial section */
#testimonials {
  background-color: #ef8172;
}
.carousel-item {
  padding: 7% 15%;
}
#testimonials h2 {
  font-size: 3rem;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
#press {
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
}
.pricing-column {
  padding-top: 3% 2%;
}
.price-text {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.5;
}
/* Footer */

#cta {
 
  padding: 7% 15%;
 
}
#cta h3 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 3.5rem;
}
/* footer section comment */
#footer {
  padding: 5% 5%;
}
.social-icon {
  padding: 20px 10px;
}
/* media queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
